[submodule "3rdparty/SQLiteCpp"]
	path = 3rdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "3rdparty/WoWDBDefs"]
	path = 3rdparty/WoWDBDefs
	url = https://github.com/wowdev/WoWDBDefs.git
